body{
    background-color: gainsboro;
}

.block1 {
  background-color: aqua;
  width: 250px;
  height: 110px;
  margin: auto;
  border-style: dashed;
  border-color: red;
  border-width: 2px;
  margin-bottom: 30px;
  
}

.block2 {
  background-color: teal;
  width: 250px;
  height: 110px;
  margin: auto;
  border-style: dotted;
  border-color: red;
  border-width: 1px;
  margin-bottom: 30px;
}

.block3{
    background-color: darksalmon;
  width: 250px;
  height: 110px;
  margin: auto;
  border-style: solid;
  border-color: red;
  border-width: 10px;
  margin-bottom: 30px;
}

.block4{
    background-color:gray ;
    width: 250px;
    height: 110px;
    margin: auto;
    border-left: 2px solid ;
    border-color: black;
    
    
}